/* Reset and universal styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    transition: all 0.3s ease;
}

body {
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 2em;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #444;
    padding: 10px 0;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

.nav-link:hover {
    background-color: #555;
    border-radius: 5px;
}

main {
    padding: 20px;
}

h2 {
    margin-bottom: 15px;
    position: relative;
}

h2::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 3px;
    background-color: #333;
}

.project {
    background-color: #fff;
    padding: 15px;
    margin: 15px 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

header, nav, main, footer {
    animation: fadeIn 1s forwards;
}

/* Adding delays for each section to stagger the animations */
nav {
    animation-delay: 0.2s;
}

main {
    animation-delay: 0.4s;
}

footer {
    animation-delay: 0.6s;
}

body.dark-theme {
    background-color: #222;
    color: #f4f4f4;
}

body.dark-theme header,
body.dark-theme nav,
body.dark-theme footer{
    background-color: #111;
}

body.dark-theme .project {
    background-color: #333;
    color: #f4f4f4;
}

body.dark-theme h2::before {
    background-color: #f4f4f4;
}

#theme-toggle {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 5px 7px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#theme-toggle:hover {
    background-color: #666;
}

